body {
  font-family: sans-serif;
}

.bg-home {
  background-color: black;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 65vh;
  overflow: hidden;
}

img {
  object-fit: cover;
}
